﻿@{
    ViewBag.Title = "Login";
}
@model TheOrganizer003.Models.User

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary" id="loginCard">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>My</b>Organizer</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sign in to start your session</p>

            <form action="/Login/DoLogin" method="post">
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.u_email, new { placeholder = "username", @class = "form-control", id = "email" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span id="validateEmail"></span>

                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.u_password, new { placeholder = "password", @class = "form-control", Type = "password", id = "password" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span id="validatePassword"></span>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                This is my computer
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" id="btnLogin" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                </div>
            </form>

            <p class="mb-0">
                @Html.ActionLink("Register a new membership", // <-- Link text
                 "indexRegister",
                 "Profile"// <-- Action Method Name
                 )
               
            </p>
        </div>
    </div>
</div>


@section scripts_external{
    <script type="text/javascript">

    </script>

}
