﻿
@{
    /**/

    ViewBag.Title = "IndexHome";
}

@model TheOrganizer003.Models.All_Models


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Venture Details</h2>
            <div class="card card-primary" aria-expanded="false">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-filter mr-1"></i>
                        Filtering Options
                    </h3>
                    <!-- card tools -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <div class="card-body" style="display: none;" >
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <h5 class="form-group">Start Date</h5><hr />
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="dInputStartDate">Upper Limit:</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control pull-right tbox" id="dInputStartDate1" name="dInputStartDate1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="dInputStartDate">Lower Limit:</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control pull-right tbox" id="dInputStartDate2" name="dInputStartDate1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h5 class="form-group">End Date</h5><hr />
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="dInputEndDate">Upper Limit:</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control pull-right tbox" id="dInputEndDate1" name="dInputEndDate1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="dInputEndDate">Lower Limit:</label>
                                    <div class="input-group date">
                                        <input type="date" class="form-control pull-right tbox" id="dInputEndDate2" name="dInputEndDate2">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h5 class="form-group" for="dSelectStatus">Status</h5>
                                @Html.DropDownListFor(model => model.Venture2.status_id, ViewData["Status"] as SelectList, new { @class = "form-control tbox", @id = "dSelectStatus", @name = "dSelectStatus" })

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <h5 class="form-group" for="dSelectsClassifier">Security Classification</h5>
                                @Html.DropDownListFor(model => model.Venture2.security_classification, ViewData["s_classifier"] as SelectList,"Select", new { @class = "form-control",@id = "dSelectsClassifier",@name = "dSelectsClassifier"@*, @disabled = "true"*@})

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-4">
            <h2 class="page-header">&nbsp;</h2>
            <div class="card card-primary">
                <div class="card-header border-0">
                    <h3 class="card-title">
                        <i class="fas fa-user-alt mr-1"></i>
                        Logged User : @Session["full_name"]
                    </h3>
                    <!-- card tools -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <div class="card-body" style="display: none;">
                    <!-- Widget: user widget style 1 -->
                    <div class="card card-widget widget-user">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        @if (Session["uprivilege"].ToString() == "1")
                        {
                            <div class="widget-user-header bg-info" style="background-color:#AD0000!important">
                                <h4 class="widget-user-username">@Session["full_name"]</h4>
                                <h5 class="widget-user-desc">Administrator</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="/Content/al_theme/dist/img/user1-128x128.jpg" alt="User Avatar">
                            </div>
                        }
                        else if (Session["uprivilege"].ToString() == "2")
                        {
                            <div class="widget-user-header bg-info" style="background-color:#29379D!important">
                                <h4 class="widget-user-username">@Session["full_name"]</h4>
                                <h5 class="widget-user-desc">Manager</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="/Content/al_theme/dist/img/user1-128x128.jpg" alt="User Avatar">
                            </div>
                        }
                        else if (Session["uprivilege"].ToString() == "3")
                        {
                            <div class="widget-user-header bg-info" style="background-color:#3C7D26!important">
                                <h3 class="widget-user-username">@Session["full_name"]</h3>
                                <h5 class="widget-user-desc">User</h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" src="/Content/al_theme/dist/img/user1-128x128.jpg" alt="User Avatar">
                            </div>
                        }
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">@Session["designation"]</h5>
                                        <span class="description-text">Designation</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header">@Session["ven_count"]</h5>
                                        <span class="description-text">Ventures</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header">@Session["last_logged"]</h5>
                                        <span class="description-text">Last Login</span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card card-primary">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Venture List</h4>
                <table><tbody><tr><th>Initiated Ventures</th><th>&nbsp;&nbsp;</th><th>Assigned Ventures</th></tr><tr><td class="table-success"></td><td>&nbsp;&nbsp;</td><td class="table-warning"></td></tr></tbody></table>
                <button class="btn btn-primary pull-right" id="addVenture" data-toggle="modal" data-target="#dModalAddVenture">Add Venture</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblVentureList" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Venture ref</th>
                                    <th scope="col">Parent venture</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">End date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Security Classification</th>
                                    <th scope="col">Initator</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Status date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.myModels)
                                {
                                    if (x.Venture1.initiate_user_id == x.VentureAssign1.assign_user_id)
                                    {
                                        <tr class="table-success" id="ventureId">
                                            <td onmouseover="viwer()">@x.Venture1.venture_ref</td>
                                            <td>@x.Venture1.p_venture_ref</td>
                                            <td data-toggle="tooltip" title="@x.Venture1.description">@x.Venture1.description</td>
                                            <td>@x.Venture1.start_date.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@x.Venture1.end_date.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@x.Status1.status_desc</td>
                                            <td>@x.SecurityClassifier1.sec_classifier</td>
                                            <td>@x.Venture1.initiate_user_id</td>
                                            <td>@x.Category1.category_desc</td>
                                            <td>@x.Venture1.last_updated_time.ToString()</td>
                                            <td><button type="button" class="btn-xs btn-primary tbox" id="buttonSelectVenture" value="@x.Venture1.venture_ref"><i class="fas fa-edit"></i> Select</button></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="table-warning" id="ventureId">
                                            <td onmouseover="viwer()">@x.Venture1.venture_ref</td>
                                            <td>@x.Venture1.p_venture_ref</td>
                                            <td data-toggle="tooltip" title="@x.Venture1.description">@x.Venture1.description</td>
                                            <td>@x.Venture1.start_date.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@x.Venture1.end_date.Value.ToString("dd/MM/yyyy")</td>
                                            <td>@x.Status1.status_desc</td>
                                            <td>@x.SecurityClassifier1.sec_classifier</td>
                                            <td>@x.Venture1.initiate_user_id</td>
                                            <td>@x.Category1.category_desc</td>
                                            <td>@x.Venture1.last_updated_time.ToString()</td>
                                            <td><button type="button" class="btn-xs btn-primary tbox" id="buttonSelectVenture" value="@x.Venture1.venture_ref"><i class="fas fa-edit"></i> Select</button></td>
                                        </tr>
                                    }



                                }
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="idSession" value="@Session["uid"]" />
    @*<input type="hidden" id="ventureAdd" value="@Session["last_record"]" />*@
    <br />
    <form action="CreateVenture" method="post">
        <div class="modal fade" id="dModalAddVenture">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Venture</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="card-body col-md-4">
                                <div class="form-group">
                                    <label for="initiate_user_id">Initiate By</label>
                                    @Html.TextBoxFor(m => m.Venture1.initiate_user_id, new { @class = "form-control tbox", @Value = @Session["email"], @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="card-body col-md-4">
                                <div class="form-group">
                                    <label for="category_id">Category</label>
                                    @Html.DropDownListFor(model => model.Venture1.category_id, ViewData["Categories"] as SelectList, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Venture1.category_id, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    @Html.TextAreaFor(m => m.Venture1.description, new { placeholder = "Description", rows = "3", cols = "5", maxlength = "300", @class = "form-control tbox" })
                                </div>
                                <div class="form-group">
                                    <label for="status_id">Status</label>
                                    @Html.DropDownListFor(model => model.Venture1.status_id, ViewData["Status"] as SelectList, new { @class = "form-control"@*, @disabled = "true"*@})
                                    @Html.ValidationMessageFor(model => model.Venture1.status_id, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="card-body col-md-4">
                                <div class="form-group">
                                    <label for="Identifier">Identifier</label>
                                    @Html.TextBoxFor(m => m.Venture1.identifier, new { placeholder = "Identifier", @class = "form-control tbox" })
                                </div>
                                <div class="form-group">
                                    <label for="security_classfication">Security Classification</label>
                                    @Html.DropDownListFor(model => model.Venture1.security_classification, ViewData["s_classifier"] as SelectList, new { @class = "form-control"@*, @disabled = "true"*@})
                                    @Html.ValidationMessageFor(model => model.Venture1.security_classification, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="inputStartDate">Start Date</label>
                                    @Html.TextBoxFor(m => m.Venture1.start_date, new { placeholder = "Start Date", @class = "form-control tbox", @type = "Date" })
                                </div>
                                <div class="form-group">
                                    <label for="inputEndDate">End Date</label>
                                    @Html.TextBoxFor(m => m.Venture1.end_date, new { placeholder = "End Date", @class = "form-control tbox", @type = "Date" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="vModelBtnSave" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts_external{
    <script src="~/Scripts/homeScript.js"></script>
    <script type="text/javascript">
        //LoadUserMainData();

        //Test Alert Function//////////////////
        @*$(document).ready(function () {
            $(function () {
                var Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 7000
                });


                var data = $("#ventureAdd").val();
            //alert(data
            //);
            if (data != "") {
                if (data != "Error") {
                    Toast.fire({
                        icon: 'success',
                        title: 'Venture'+ data+' Successfully Added'
                    })
                } else {
                    Toast.fire({
                        icon: 'error',
                        title: 'Something went wrong. Please try again'
                    })
                }
                }
                @Session["last_record"] = " ";
                $("#ventureAdd").val(" ");

            })
            });*@

        $('#inputStartDate, #inputEndDate').datepicker({
            autoclose: true
        });

        $.fn.dataTable.render.ellipsis = function () {
            return function (data, type, row) {
                return type === 'display' && data.length > 10 ?
                    data.substr(0, 15) + '…' :
                    data;
            }
        };

        $(function () {
           $("#tblVentureList").DataTable({
                "responsive": true,
                "lengthChange": true,
                "autoWidth": true,
                "buttons": ["copy", "csv", "excel", "pdf", "print"/*, "colvis"*/],
                columnDefs: [{
                    targets: 2,
                    render: $.fn.dataTable.render.ellipsis()
                }]
            }).buttons().container().appendTo('#tblVentureList_wrapper .col-md-6:eq(0)');

        });

        
        function LoadUserMainData() {
            $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetUserMain")',
                    data: { id: '' },
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, user) {
                            document.getElementById("vUserName").innerHTML = user.f_name +" "+ user.m_name +" " + user.l_name;
                            document.getElementById("vUserDesignation").innerHTML = user.designation_id;
                            document.getElementById("vUserEmail").innerHTML = user.u_email;
                            document.getElementById("vUserCoNo1").innerHTML = user.contact_no_1;
                            document.getElementById("vUserVentureCount").innerHTML = 44;
                            document.getElementById("vUserLastLoggedTime").innerHTML = user.last_logged_time;
                        });
                    },
                    error: function (ex) {
                    }
                });
            }



        //Filtering using start date of venture
        $("#dInputStartDate1, #dInputStartDate2").change(function () {
            var S_clasifier = $("#dSelectsClassifier");
            var status = $("#dSelectStatus");
            var uid = $("#idSession").val();
            var date1 = $("#dInputStartDate1").val();
            var date2 = $("#dInputStartDate2").val();
            var date3 = $("#dInputEndDate1");
            var date4 = $("#dInputEndDate2");
            var filterURL = "filterTable_stdate";

            if (date1 != "" && date2 != "") {
                var date_1 = String(date1);
                var date_2 = String(date2);
                var filter_data = { "filter1": date_1, "filter2": date_2 }
                tableGen(filter_data, filterURL, uid);
                date3.val("dd/mm/yyyy");
                date4.val("dd/mm/yyyy");
                status.val(0);
                S_clasifier.val(0);
            }
        });

        //Filtering using end date of the venture
        $("#dInputEndDate1, #dInputEndDate2").change(function () {
            var S_clasifier = $("#dSelectsClassifier");
            var status = $("#dSelectStatus");
            var uid = $("#idSession").val();
            var date1 = $("#dInputStartDate1");
            var date2 = $("#dInputStartDate2");
            var date3 = $("#dInputEndDate1").val();
            var date4 = $("#dInputEndDate2").val();
            var filterURL = "filterTable_edate";
            
            if (date3 != "" && date4 != "") {
                var date_1 = String(date3);
                var date_2 = String(date4);
                var filter_data = { "filter1": date_1, "filter2": date_2 }
                tableGen(filter_data, filterURL, uid);
                date1.val("dd/mm/yyyy");
                date2.val("dd/mm/yyyy");
                status.val(0);
                S_clasifier.val(0);
            }
        });

    //Filtering using status of venture
    $("#dSelectStatus").change(function () {
        var status = $("#dSelectStatus").val();
        var uid = $("#idSession").val();
        var date1 = $("#dInputStartDate1");
        var date2 = $("#dInputStartDate2");
        var date3 = $("#dInputEndDate1");
        var date4 = $("#dInputEndDate2");
        var S_clasifier = $("#dSelectsClassifier");
        var filterURL = "filterTable_status";
        var filter_data = { "filter1": status }

        if (status != 0) {
            tableGen(filter_data, filterURL, uid);
            date1.val("dd/mm/yyyy");
            date2.val("dd/mm/yyyy");
            date3.val("dd/mm/yyyy");
            date4.val("dd/mm/yyyy");
            S_clasifier.val(0);
        } else {
            location.reload();
        }
        });
        //Filtering using Security classification of venture
        $("#dSelectsClassifier").change(function () {
            var S_clasifier = $("#dSelectsClassifier").val();
            var status = $("#dSelectStatus");
            var uid = $("#idSession").val();
            var date1 = $("#dInputStartDate1");
            var date2 = $("#dInputStartDate2");
            var date3 = $("#dInputEndDate1");
            var date4 = $("#dInputEndDate2");
            var filterURL = "filterTable_SecurityClassifier";
            var filter_data = { "filter1": S_clasifier }

            if (S_clasifier != 0) {
                tableGen(filter_data, filterURL, uid);
                date1.val("dd/mm/yyyy");
                date2.val("dd/mm/yyyy");
                date3.val("dd/mm/yyyy");
                date4.val("dd/mm/yyyy");
                status.val(0);
            } else {
                location.reload();
            }
        });

     //Selecting venture and going to venture details
    $(document).on('click', '#buttonSelectVenture', function () {
        var tableRowValue = $(this).val();
        window.location.href = "@Url.Action("IndexVen", "Venture")?vref=" + tableRowValue+"";
        });



        // HAs to check ================================================================================
        //FIltering Options // 
        $("#dInputStartDate1,#dInputStartDate2, #dInputEndDate1,#dInputEndDate2").change(function () {
            var st_date1 = $("#dInputStartDate1").val();
            var st_date2 = $("#dInputStartDate2").val();
            var e_date1 = $("#dInputEndDate1").val();
            var e_date2 = $("#dInputEndDate2").val();
            if (st_date1 != "" && (st_date2 != "" && e_date1 != "" && e_date2 != "")) {

            } else if (st_date1 != "" || (st_date2 != "" && e_date1 != "" && e_date2 != "")) {

            } else if (st_date2 != "" || (st_date1 != "" && e_date1 != "" && e_date2 != "")) {

            } else if (e_date1 != "" || (st_date1 != "" && st_date2 != "" && e_date2 != "")) {

            } else if (e_date2 != "" || (st_date1 != "" && st_date1 != "" && e_date1 != "")) {

            }
            if (date1 != "" && date2 != "") {
                //var x = 'u0025';
                //var y = 'u0001';
                var st_date_1 = String(st_date1);
                var st_date_2 = String(st_date2);
                var e_date_1 = String(e_date1);
                var e_date_2 = String(e_date2);
                var table = $("#tblVentureList").DataTable();
                table.clear().destroy();
                $('#tblVentureList').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": true,
                        "autoWidth": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        //"columnDefs": [{
                        //    targets: 2,
                        //    render: $.fn.dataTable.render.ellipsis()
                        //}],
                        "ajax": {
                            "url": "filterTable",
                            "type": "POST",
                            "data": { "filter1": date_1, "filter2": date_2 },
                            "datatype": "json"
                        }, "columnDefs": [{
                            targets: [2],
                            render: $.fn.dataTable.render.ellipsis()
                        },
                        {
                            "defaultContent": "-",
                            "targets": "_all"
                        },
                        {
                            "targets": [3],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
                                return strDate;
                            }
                        },
                        {
                            "targets": [4],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();
                                return strDate;
                            }
                        },
                        {
                            "targets": [9],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear() + "</br>"
                                    + date.getHours() + " :" + date.getMinutes() + " :" + date.getSeconds();
                                return strDate;
                            }
                        }
                        ],
                        "columns": [
                            { "data": "venture_ref" },
                            { "data": "p_venture_ref" },
                            { "data": "description" },
                            { "data": "start_date"/*new Date(parseInt("start_date".replace(/\/Date\((.*?)\)\//gi, "$1")))*/ },
                            { "data": "end_date" },
                            { "data": "status_id" },
                            { "data": "identifier" },
                            { "data": "initiate_user_id" },
                            { "data": "category_id" },
                            { "data": "last_updated_time" }
                        ]
                    }
                )

            }
        });
        // HAs to check ================================================================================
    </script>
}



