﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - The Organizer</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/al_theme/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/summernote/summernote-bs4.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/al_theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/al_theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/al_theme/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    

</head>

<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container-fluid">
                <a href="../../index3.html" class="navbar-brand">
                    <img src="/Content/imgs/logo_min.jpg" alt="organizer Logo" class="brand-image img-rounded elevation-2" style="opacity: .8">
                    <span class="brand-text font-weight-light">The Organizer</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse ">
                    <ul class="navbar-nav">
                        <li class="nav-link">@Html.ActionLink("Home", "IndexHome", "Home")</li>
                        <li class="nav-link">@Html.ActionLink("Profile", "IndexProfile", "Profile")</li>
                        <li class="nav-link">@Html.ActionLink("Reports", "IndexReport", "Report")</li>
                        <li class="nav-link">@Html.ActionLink("Admin Panel", "IndexReport", "Report")</li>
                    </ul>
                </div>

                <!-- Right navbar links -->
                <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                    <!-- Messages Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fas fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                                <!-- Message Start -->
                                <div class="media">
                                    <img src="/Content/al_theme/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                    <div class="media-body">
                                        <h3 class="dropdown-item-title">
                                            Brad Diesel
                                            <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                        </h3>
                                        <p class="text-sm">Call me whenever you can...</p>
                                        <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                    </div>
                                </div>
                                <!-- Message End -->
                            </a>

                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>
                    </li>
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">@ViewData["notification_count"]</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-header">@ViewData["notification_count"] Notifications</span>
                            <div class="dropdown-divider"></div>
                            @*@foreach (var x in ViewBag.notification)
                            {
                                <button type="button" id="buttonSelectVenture" value="@x.Venture1.venture_ref">
                                    <div class="dropdown-item" style="font-size:small">
                                        <i class="fas fa-envelope mr-2"></i>Venture <b>@x.Venture1.venture_ref</b> completing within 7 Days
                                    </div>
                                </button>
                            }*@
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button" id="buttonLogout" alt="Logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <div class="content">
                <div class="-fluid">

                    @RenderBody()

                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            @*<div class="float-right d-none d-sm-inline">
                    Anything you want
                </div>*@
            <!-- Default to the left -->
            <strong>Copyright &copy; 2021 SLTMobitel Digital Platforms.</strong> All rights reserved.
        </footer>
    </div>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/Content/al_theme/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Content/al_theme/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/Content/al_theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/Content/al_theme/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/Content/al_theme/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/Content/al_theme/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/Content/al_theme/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Content/al_theme/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/Content/al_theme/plugins/moment/moment.min.js"></script>
    <script src="/Content/al_theme/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Content/al_theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/al_theme/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Content/al_theme/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/al_theme/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/al_theme/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/Content/al_theme/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/al_theme/dist/js/adminlte.min.js"></script>

    <!-- DataTables  & Plugins -->
    <script src="/Content/al_theme/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Content/al_theme/plugins/jszip/jszip.min.js"></script>
    <script src="/Content/al_theme/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Content/al_theme/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Content/al_theme/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Content/al_theme/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/al_theme/dist/js/demo.js"></script>
    <script src="~/Scripts/ellipsis.js"></script>
    <script src="~/Scripts/indexProfileScript.js"></script>
    <script>
        $("#buttonLogout").click(function () {
            window.location.href = "@Url.Action("DoLogout", "Login")";
        });
    </script>
    <!-- Page specific script -->

    @RenderSection("scripts_external", required: false)

</body>


</html>
