﻿#profileCard {
    width: 800px;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; /* Added */
    /*background-color: rgba(245, 245, 245, 0.6);*/
}

#profileImage {
    border-radius: 50%;
    width:200px;
}

#loginCard {
    /* Added */
    width: 400px;
    background-color: rgba(245, 245, 245, 0.8);
}

#optionButton1,#optionButton2 {
    display: inline-block;
    width:200px;

}

label{
    font-size:medium
}

#settingSubmitButton, #submitButton {
    float: right;
    width: 150px;
}

#urCard {
    padding: 40px;
    width: 700px;
    background-color: rgba(245, 245, 245, 0.6);
}

