
.bg-info-a-custom{
//for admin bg
	background-color:#AD0000!important;
}

.bg-info-m-custom{
//for manager bg
	background-color:#29379D!important;
}

.bg-info-u-custom{
//for user bg
	background-color:#3C7D26!important;
}


.bg-info-lower{
	background-color:#828081;
}