.bg-image {
    /* The image used */
  
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  /* opacity: 0.25; */
    /* Full height */
    height: 100%;
    /*-webkit-filter: blur(8px); */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  .front{
      /* background: rgba(255,255,255,0.8); */
      height: 100%;
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .hfont{
    font-family: "copperplate",fantasy;
    font-size: 60px;
    color:#fbff10;
            text-shadow: -2px 2px 4px #920001,
            3px -1px 4px #181818;
  }

  .tbox{
    border-radius: 10px;
  }
  .active-complaint{
    color: greenyellow;
  }
  .Inactive-complaint{
    color: red;
  }

  .texts{
font-size: x-small;
  }

  .example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
  }

  .example-modal .modal {
    background: transparent;
  }

  .bbox{
    background-color:lavender;
  }
  .profile_img{
    height: 100px;
    width: 100px;
  }
  .full{
      width:100%;
  }

.userProfile {
    text-align:center; 
    background-color:#b7ff54; 
    color: #0279d7;
}

.bg-slt-active,
.modal-info .modal-header,
.modal-info .modal-footer {
    background-color: #0279d7 ;
    color:white;
}

.logonew {
    height: 50px;
    border-radius: 10px;
}
.ctext {
    text-align: center;
    vertical-align: middle;
}



 /* ///////////////////////////////////////// For Side Bar////////////////////////////////////////////////////// */
  