﻿@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/cssStyles.css">
</head>
<body>
    <br />
    <br />
    <div class="card" id="urCard">

        <div class="card-body">
            @*<img src="~/Content/matrix/assets/images/background/slt.jpg" />*@
            <h1><b>Register</b></h1>
            <hr/>
            <br />
            <form>
                <div class="form-group row">
                    <label for="username" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="u_email">
                    </div>
                    <span id="validateEmail"></span>

                </div>
                <div class="form-group row">
                    <label for="f_name" class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="f_name">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="m_name" class="col-sm-3 col-form-label">Middle Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="m_name">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="l_name" class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="l_name">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="title" class="col-sm-3 col-form-label">Title</label>
                    <div class="col-sm-9">

                        <select class="form-control" aria-label="Default select example" id="title">

                            <option value="Miss">Miss</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Mr">Mr</option>
                        </select>
                    </div>

                </div>


                <div class="form-group row">
                    <label for="designation_id" class="col-sm-3 col-form-label">Designation</label>
                    <div class="col-sm-9">
                        @*<select class="form-control" aria-label="Default select example" id="designation_id">
                    @foreach (var x in ViewBag.designations)
                    {
                        <option value=@x.i_id>@x.designation</option>

                    }

                </select>*@
                        <select class="form-control" aria-label="Default select example" id="designation_id">

                            <option value="1">Software Developer</option>
                            <option value="2">IT & Network Officer</option>
                            <option value="3">Manager</option>
                            <option value="4">Eng-System Development</option>
                            <option value="5">Technician</option>
                            <option value="6">Sales Officer</option>
                        </select>
                    </div>


                </div>


                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">Contact 1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contact_no_1">
                    </div>


                </div>
                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">Contact 2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contact_no_2">
                    </div>


                </div>

                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">Contact 3</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contact_no_3">
                    </div>


                </div>

                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">Privilege Group</label>
                    <div class="col-sm-9">

                        <select class="form-control" aria-label="Default select example" id="u_privilege">
                            @foreach (var x in ViewBag.priv)
                            {
                                <option value=@x.i_id>@x.privilage_name</option>

                            }

                        </select>
                    </div>


                </div>

                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">Status</label>
                    <div class="col-sm-9">

                        <select class="form-control" aria-label="Default select example" id="status">
                            @foreach (var x in ViewBag.allStatus)
                            {
                                <option value=@x.Key>@x.Value</option>

                            }

                        </select>
                    </div>


                </div>
                <div class="form-group row">
                    <label for="contact_no_1" class="col-sm-3 col-form-label">SLT Employee No</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="slt_employee_no">
                    </div>


                </div>


                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="u_password">
                    </div>
                </div>
                <span id="validatePass"></span>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="confirmPassword">
                    </div>
                </div>
                <span id="validateConfirmPass"></span>
                <div class="form-group row">
                    <div class="col-md-3 offset-9">
                        <button class="btn btn-primary" id="backButton">Back</button>
                        <button type="submit" class="btn btn-primary" id="urSubmitButton">Save</button>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
    
</body>
</html>

