﻿@{
    ViewBag.Title = "Profile";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Top Navigation</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/Content/cssStyles.css" rel="stylesheet" />
    

</head>

<body>
    <br />
    <div class="container-fluid">
    
        <div class="text-center">
            <img src="~/Content/imgs/lady.jpg" alt="..." id="profileImage">

          
        </div>
        <br />
        <br />
        <div class="text-center">
          
            <h2 id="profileName">
               @ViewBag.fullName
             </h2>
           
        </div>
        <div class="text-center">
            <h3>Software Developer - A9</h3>
        </div>
        <div class="text-center">
            <h4>Digital Platforms</h4>
        </div>
        <div class="text-center">
            <h3>Head Quarters, SLT</h3>
        </div>
        <br />
        <br />
        <div class="text-center">

            <button type="button" class="btn btn-lg" id="optionButton1">Account</button>


            <button type="button" class="btn btn-lg" id="optionButton2">Settings</button>
        </div>
        <br />
        <br />

        <div class="card" id="profileCard">
            <div class="card-body" id="cardBody">
                <form id="accountForm">
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="email" value=@ViewBag.userData.u_email>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#email',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="fname" class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="fname" value=@ViewBag.userData.f_name>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#fname',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mname" class="col-sm-3 col-form-label">Middle Name</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="mname" value=@ViewBag.userData.m_name>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#mname',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lname" class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="lname" value=@ViewBag.userData.l_name>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#lname',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-7">

                            <select class="form-control" aria-label="Default select example" disabled id="title" value="1">

                                <option value="Miss">Miss</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Mr">Mr</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="editSelect('#title',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="designation" class="col-sm-3 col-form-label">Designation</label>
                        <div class="col-sm-7">

                            <select class="form-control" disabled aria-label="Disabled select example" id="designation">
                                @*@foreach (var x in ViewBag.DesignationList)
                                {

                                    <option value=@x.designationId>@x.designationDesc</option>
                                }*@
                                <option value="1">Software Developer</option>
                                <option value="2">Marketing Officer</option>
                                <option value="3">Network Officer</option>

                            </select>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="editSelect('#designation',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="contact1" class="col-sm-3 col-form-label">Contact No_1</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="contact1" value="@ViewBag.userData.contact_no_1">
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#contact1',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact2" class="col-sm-3 col-form-label">Contact No_2</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="contact2" value="@ViewBag.userData.contact_no_2">
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#contact2',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact3" class="col-sm-3 col-form-label">Contact No_3</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="contact3" value="@ViewBag.userData.contact_no_3">
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#contact3',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sltEmpNo" class="col-sm-3 col-form-label">SLT Employee No</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="sltEmpNo" value=@ViewBag.userData.slt_employee_no>
                        </div>
                   </div>
                    <div class="form-group row">
                        <label for="status" class="col-sm-3 col-form-label">Status</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="status" value="@ViewBag.userData.status">
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#status',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group row">

                        <div class="col-sm-3"></div>
                        <div class="col-sm-7 text-left">
                            <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>


                </form>
                <form id="settingsForm">
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-7">
                            <input type="text" readonly class="form-control" id="username" value=@ViewBag.userData.u_email>
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editField" onclick="edit('#username',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-7">
                            <input type="password" readonly class="form-control" id="password" value=@ViewBag.userData.u_password>
                        </div>
                        <small id="passValidator"></small>
                        <div class="col-sm-2">
                            <a href="#" class="link-primary" id="editPass" onclick="edit('#password',event)"><i class='fas fa-edit' style='font-size:24px'></i></a>
                        </div>
                    </div>
                    <div class="form-group row" id="confirmPass">
                        <label for="confirm" class="col-sm-3 col-form-label">Confirm Password</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="confirm" value="">
                        </div>
                        <p id="matchPassword"></p>

                    </div>
                    <br />
                    <br />
                    <div class="form-group row">

                        <div class="col-sm-3"></div>
                        <div class="col-sm-7 text-left">
                            <button type="submit" class="btn btn-primary" id="settingSubmitButton">Save</button>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>



                </form>
            </div>
        </div>

    </div>


</body>
</html>