﻿@{
    ViewBag.Title = "Venture";
}
@model TheOrganizer003.Models.Venture

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @foreach (var x in ViewBag.Ventures)
            {
                <h1 class="page-header" style="text-align:center;">Venture Ref : <span id="selected_venture_ref" style="color:red;">@x.venture_ref</span></h1>
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Venture Details</h2>
            <div class="card card-primary">
                <div class="row">
                    <div class="card-body col-md-4">
                        <div class="form-group" hidden>
                            <label for="vVentureRef">Venture Ref:</label>
                            <input type="text" class="form-control" id="vVentureRef" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vParentVentureRef">Parent Venture</label>
                            <input type="text" class="form-control" id="vParentVentureRef" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vInitiateTime">Initiate Time</label>
                            <input type="text" class="form-control" id="vInitiateTime" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vInitiateUserId">Initiate By</label>
                            <input type="text" class="form-control" id="vInitiateUserId" placeholder="">
                        </div>
                    </div>

                    <div class="card-body col-md-4">
                        <div class="form-group">
                            <label for="vCategoryId">Category</label>
                            @Html.DropDownListFor(model => model.category_id, ViewData["Categories"] as SelectList, new { @class = "form-control tbox", @id = "vCategoryId", @name = "vCategoryId" })

                        </div>
                        <div class="form-group">
                            <label for="vDescription">Description</label>
                            <input type="text" class="form-control" id="vDescription" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vStatusId">Status</label>
                            @Html.DropDownListFor(model => model.status_id, ViewData["Status"] as SelectList, new { @class = "form-control tbox", @id = "vStatusId", @name = "vStatusId" })
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="vStartDate">Start Date</label>
                                <input type="date" class="form-control" id="vStartDate" placeholder="">
                            </div>

                            <div class="col-md-6 form-group">
                                <label for="vEndDate">End Date</label>
                                <input type="date" class="form-control" id="vEndDate" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="card-body col-md-4">
                        <div class="form-group">
                            <label for="vLastUpdatedBy">Last Updated By</label>
                            <input type="text" class="form-control" id="vLastUpdatedBy" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vLastUpdatedTime">Last Updated DTM</label>
                            <input type="text" class="form-control" id="vLastUpdatedTime" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vIdentifier">Identifier</label>
                            <input type="text" class="form-control" id="vIdentifier" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="vSecurityClassification">Security Classification</label>
                            @Html.DropDownListFor(model => model.security_classification, ViewData["secClassification"] as SelectList, new { @class = "form-control", @id = "vSecurityClassification", @name = "vSecurityClassification" })
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button" id="vBtnUpdate" class="btn btn-primary">Update</button>
                            <button type="button" id="vBtnClose" class="btn btn-dark">Clear</button>
                        </div>
                        <div class="col-md-3 offset-6 ">
                            <button type="button" id="vBtnAddChildVenture" class="btn btn-success" data-toggle="modal" data-target="#mdlChildVenture">Add Child Venture</button>
                            <button type="button" id="vBtnAssignUser" class="btn btn-success" data-toggle="modal" data-target="#mdlAsgUser">Assign User</button>
                            <button type="button" id="vBtnAddFollower" class="btn btn-success" data-toggle="modal" data-target="#mdlFollower">Add Follower</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Child Ventures</h2>
            <table id="tblChildVen" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Venture ref</th>
                        <th scope="col">Description</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Parent venture</th>
                        <th scope="col">Venture identifier</th>
                        <th scope="col">Initator</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>

    </div>

    <div class="row">
        <div class="col-md-9">
            <h2 class="page-header">Update Info</h2>
            <div class="card">
                <div class="card-body">
                    <table id="tblVenUpdateList" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Update Ref</th>
                                <th>Update</th>
                                <th>Date(s)</th>
                                <th>By</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="page-header">Followers</h2>
            <div class="card">
                <div class="card-body">
                    <table id="tblVenFollowerList" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Added date(s)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlChildVenture">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Child Venture</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="card-body col-md-3">
                            <div class="form-group">
                                <label for="vModelVentureRef">Venture Ref:</label>
                                <input type="text" class="form-control" id="vModelVentureRef" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelParentVentureRef">Parent Venture</label>
                                <input type="text" class="form-control" id="vModelParentVentureRef" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelInitiateDate">Initiate Date</label>
                                <input type="text" class="form-control" id="vModelInitiateDate" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelInitiateBy">Initiate By</label>
                                <input type="text" class="form-control" id="vModelInitiateBy" placeholder="">
                            </div>
                        </div>

                        <div class="card-body col-md-6">
                            <div class="form-group">
                                <label for="vModelCategory">Category</label>
                                @Html.DropDownListFor(model => model.category_id, ViewData["Categories"] as SelectList, new { @class = "form-control tbox", @id = "vModelCategory", @name = "vModelCategory" })

                            </div>
                            <div class="form-group">
                                <label for="vModelDescription">Description</label>
                                <input type="text" class="form-control" id="vModelDescription" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelStatus">Status</label>
                                @Html.DropDownListFor(model => model.status_id, ViewData["Status"] as SelectList, new { @class = "form-control tbox", @id = "vModelStatus", @name = "vModelStatus" })

                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label for="vModelStartDate">Start Date</label>
                                    <input type="date" class="form-control" id="vModelStartDate" placeholder="">
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="vModelEndDate">End Date</label>
                                    <input type="date" class="form-control" id="vModelEndDate" placeholder="">
                                </div>
                            </div>
                        </div>

                        <div class="card-body col-md-3">
                            <div class="form-group">
                                <label for="vModelLastUpdateBy">Last Updated By</label>
                                <input type="text" class="form-control" id="vModelLastUpdateBy" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelLastUpdateDTM">Last Updated DTM</label>
                                <input type="text" class="form-control" id="vModelLastUpdateDTM" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelIdentifier">Identifier</label>
                                <input type="text" class="form-control" id="vModelIdentifier" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="vModelSecurityClassfication">Security Classification</label>
                                @Html.DropDownListFor(model => model.security_classification, ViewData["secClassification"] as SelectList, new { @class = "form-control", @id = "vModelSecurityClassfication", @name = "vModelSecurityClassfication" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="vModelBtnAddChildVenture" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlAsgUser">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Assign Users</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card-body col-md-6">
                            <div class="form-group">
                                <label for="vModelAsgVentureRef">Venture Ref</label>
                                <input type="text" class="form-control" id="vModelAsgVentureRef" placeholder="">
                            </div>
                        </div>
                        <div class="card-body col-md-6">
                            <div class="form-group">
                                <label for="vModelAsgInitiateUserEmail">Initiate User Email</label>
                                <input type="text" class="form-control" id="vModelAsgInitiateUserEmail" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">

                                </div>
                                <div class="row">
                                    <div class="card-body col-md-6">
                                        <div class="form-group">
                                            <label for="vModelAsgEmail">Assign User Email</label>
                                            <input type="text" class="form-control" id="vModelAsgEmail" placeholder="">
                                        </div>
                                    </div>
                                    <div class="card-body col-md-6">
                                        <div class="form-group">
                                            <label for="vModelAsgEmpNo">Assign Employee No:</label>
                                            <input type="text" class="form-control" id="vModelAsgEmpNo" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table id="tblMdlAssignUserList" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Email</th>
                                                    <th>User Name</th>
                                                    <th>Employee Id</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Add a new User</h3>
                                </div>
                                <div class="card-body">

                                    <button type="button" id="vModelBtnAssignUserContinue" class="btn btn-warning">Continue</button>

                                    <div class="row" id="vModelBtnAssignUserModel">
                                        <div class="card-body col-md-6">
                                            <div class="form-group">
                                                <label for="vModelAsgEmailNEW">Assign User Email</label>
                                                <input type="text" class="form-control" id="vModelAsgEmailNEW" placeholder="">
                                            </div>
                                        </div>
                                        <div class="card-body col-md-6">
                                            <div class="form-group">
                                                <label for="vModelAsgEmpNoNEW">Assign Employee No:</label>
                                                <input type="text" class="form-control" id="vModelAsgEmpNoNEW" placeholder="">
                                            </div>
                                        </div>
                                        <div class="card-body col-md-6">
                                            <div class="form-group">
                                                <label for="vModelAsgPrivilegeNEW">Privilege</label>
                                                <input type="text" class="form-control" id="vModelAsgPrivilegeNEW" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="vModelBtnAssignUser" class="btn btn-primary">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mdlFollower">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Follower</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="card-body col-md-4">
                            <div class="form-group">
                                <label for="vModelFVentureRef">Venture Ref:</label>
                                <input type="text" class="form-control" id="vModelFVentureRef" placeholder="">
                            </div>
                        </div>
                        <div class="card-body col-md-4">
                            <div class="form-group">
                                <label for="vModelFEmail">Email</label>
                                <input type="text" class="form-control" id="vModelFEmail" placeholder="">
                            </div>
                        </div>
                        <div class="card-body col-md-4">
                            <div class="form-group">
                                <label for="vModelFEmpNo">Employee No:</label>
                                <input type="text" class="form-control" id="vModelFEmpNo" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">

                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="vModelBtnAddFollower" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts_external{
    <script type="text/javascript">

        LoadVenture();
        LoadChildVentures();
        LoadFollowers();
        LoadUpdateInfos();

        //this disabled because ajax load data for datatable-must figure out


        $(document).ready(function () {


            if (@Session["uprivilege"] == 3) {
                $('#vBtnAssignUser').hide();
                $('#vBtnAddFollower').hide();
            } else {
                $('#vBtnAssignUser').show();
                $('#vBtnAddFollower').show();
            }


            $(document).on('click', '#vBtnUpdate', function () {
                var vent = {};
                vent.venture_ref = $("#vVentureRef").val();
                vent.p_venture_ref = $("#vParentVentureRef").val();
                vent.initiate_time = $("#vInitiateTime").val();
                vent.initiate_user_id = $("#vInitiateUserId").val();
                vent.category_id = $("#vCategoryId").val();
                vent.description = $("#vDescription").val();
                vent.status_id = $("#vStatusId").val();
                vent.start_date = $("#vStartDate").val();
                vent.end_date = $("#vEndDate").val();
                vent.lalst_updated_by = $("#vLastUpdatedBy").val();
                vent.last_updated_time = $("#vLastUpdatedTime").val();
                vent.security_classification = $("#vSecurityClassification").val();
                vent.identifier = $("#vIdentifier").val();
                vent.is_active = 1;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateVenture")',
                    data: JSON.stringify(vent),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("success - venture update")
                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;
            });

            $(document).on('click', '#vBtnAddChildVenture', function () {

                document.getElementById("vModelParentVentureRef").value = $("#vVentureRef").val();
                document.getElementById("vModelInitiateDate").value = getCurrentDateTime(false);
                document.getElementById("vModelInitiateBy").value = $("#vInitiateUserId").val();

                document.getElementById("vModelVentureRef").disabled = true;
                document.getElementById("vModelParentVentureRef").disabled = true;
                document.getElementById("vModelInitiateDate").disabled = true;
                document.getElementById("vModelInitiateBy").disabled = true;
                document.getElementById("vModelLastUpdateBy").disabled = true;
                document.getElementById("vModelLastUpdateDTM").disabled = true;
            });

            $(document).on('click', '#vBtnAssignUser', function () {
                document.getElementById("vModelAsgVentureRef").value = $("#vVentureRef").val();
                //init this will be hide
                $("#vModelBtnAssignUserModel").hide();
            });

            $(document).on('click', '#vModelBtnAssignUserContinue', function () {
                $("#vModelBtnAssignUserModel").show();
                document.getElementById("vModelAsgEmail").value = '';
                document.getElementById("vModelAsgEmpNo").value = '';

                var table = $("#tblMdlAssignUserList").DataTable();
                table.clear().destroy();
            });

            $("#vModelAsgEmail").change(function () {
                var asgnEmail = $("#vModelAsgEmail").val();

                var assignEmail = String(asgnEmail);

                if (assignEmail != null && assignEmail != "") {
                    var table = $("#tblMdlAssignUserList").DataTable();
                    table.clear().destroy();
                    $('#tblMdlAssignUserList').DataTable(
                        {
                            "responsive": true,
                            "lengthChange": true,
                            "autoWidth": false,
                            "ajax": {
                                "url": "GetUserListForAssign",
                                "type": "POST",
                                "data": { "email": assignEmail, "emp_no": '' },
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "u_email" },
                                { "data": "f_name" },
                                { "data": "slt_employee_no" }
                            ]
                        }
                    )
                }
            });

       //Has to check
            $(document).on('click', '#tblMdlAssignUserList tr', function () {

            var tableData = $(this).children("td").map(function () {
                return $(this).text();
                }).get();
                var uEmail = $.trim(tableData[0]);
                var sltNo = $.trim(tableData[2]);

                document.getElementById("vModelAsgEmail").value = uEmail;
                document.getElementById("vModelAsgEmpNo").value = sltNo;
            });


            $(document).on('click', '#vModelBtnAssignUser', function () {

                var storedEmail = $("#vModelAsgEmail").val();
                var storedEmpNo = $("#vModelAsgEmpNo").val();

                var newEmail = document.getElementById("vModelAsgEmailNEW").value;
                var newEmpNo = document.getElementById("vModelAsgEmpNoNEW").value;
                var newPrivilege = document.getElementById("vModelAsgPrivilegeNEW").value;

                var ventAsg = {};
                ventAsg.venture_ref = $("#vModelAsgVentureRef").val();
                ventAsg.assign_user_id = $("#vModelAsgEmail").val();//this must be ASSIGN USER ID,instead we send ASSIGN USER EMAIL
                ventAsg.initiate_user_id = $("#vInitiateUserId").val();
                ventAsg.updated_user_id = $("#vModelAsgEmpNo").val();//this must be UPDATED USER ID,instead we send ASSIGN USER EMP NO
                ventAsg.updated_time = $("#vModelAsgVentureRef").val();

                if (storedEmail != null && storedEmpNo != null) {
                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("UserAssignToAVenture")',
                    data: JSON.stringify(ventAsg),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("success - user assigned");
                        $("#mdlAsgUser").modal('hide');
                    },
                    error: function () {
                        alert("error");
                        $("#mdlAsgUser").modal('hide');
                    }
                    });
                    return false;

                } else if (newEmail != null && newEmpNo != null && newPrivilege != null) {
                    $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateNewUser")',
                    data: { "email": assignEmail, "empNo": '', "privilege": '' },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("success - new user added");
                        $("#mdlAsgUser").modal('hide');
                    },
                    error: function () {
                        alert("error - new user not created");
                    }
                    });
                    return false;
                }
            });

            $(document).on('click', '#vBtnAddFollower', function () {

                document.getElementById("vModelFVentureRef").value = $("#vVentureRef").val();
                document.getElementById("vModelFVentureRef").disabled = true;
            });

            $(document).on('click', '#vModelBtnAddChildVenture', function () {
                var vent = {};
                vent.venture_ref = $("#vModelVentureRef").val();
                vent.p_venture_ref = $("#vModelParentVentureRef").val();
                vent.initiate_time = $("#vModelInitiateDate").val();//current time
                vent.initiate_user_id = $("#vModelInitiateBy").val();
                vent.category_id = $("#vModelCategory").val();
                vent.description = $("#vModelDescription").val();
                vent.status_id = $("#vModelStatus").val();
                vent.start_date = $("#vModelStartDate").val();
                vent.end_date = $("#vModelEndDate").val();
                vent.lalst_updated_by = $("#vModelLastUpdateBy").val();
                vent.last_updated_time = $("#vModelLastUpdateDTM").val();
                vent.security_classification = $("#vModelSecurityClassfication").val();
                vent.identifier = $("#vModelIdentifier").val();
                vent.is_active = 1;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateChildVenture")',
                    data: JSON.stringify(vent),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("success - child venture added")
                        $("mdlChildVenture").modal('hide');
                       // LoadChildVentures();
                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;

            });

            $(document).on('click', '#vModelBtnAddFollower', function () {
                var follower = {};
                follower.follower_id = '';
                follower.follower_user_id = '';
                follower.venture_id = $("#vModelFVentureRef").val();
                follower.added_user_id = @Session["uid"];
                follower.added_time = '';
                follower.follower_status = 10;
                vent.is_active = 1;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateFollower")',
                    data: JSON.stringify(follower),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        alert("success - follower added");
                        $("mdlFollower").modal('hide');
                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;
            });
        });

        function LoadVenture() {
            $(document).ready(function () {

                console.log('vref -- ' + document.getElementById("selected_venture_ref").innerHTML )
            $.ajax({
                type: "POST",
                url: '@Url.Action("SelectedVen","Venture")',
                data: { id: document.getElementById("selected_venture_ref").innerHTML },
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, vent) {

                            document.getElementById("vVentureRef").value = vent.venture_ref;
                            document.getElementById("vParentVentureRef").value = vent.p_venture_ref;
                            document.getElementById("vInitiateTime").value = getDateTime(vent.initiate_time,false);
                            document.getElementById("vInitiateUserId").value = vent.initiate_user_id;
                            document.getElementById("vCategoryId").value = vent.category_id;
                            document.getElementById("vDescription").value = vent.description;
                            document.getElementById("vStatusId").value = vent.status_id;
                            $('#vStartDate').val(getDateTime(vent.start_date, true));
                            $('#vEndDate').val(getDateTime(vent.end_date, true));
                            document.getElementById("vLastUpdatedBy").value = vent.last_updated_by;
                            document.getElementById("vLastUpdatedTime").value = getDateTime(vent.last_updated_time,false);
                            document.getElementById("vIdentifier").value = vent.identifier;
                            document.getElementById("vSecurityClassification").value = vent.security_classification;

                            document.getElementById("vVentureRef").disabled = true;
                            document.getElementById("vParentVentureRef").disabled = true;
                            document.getElementById("vInitiateTime").disabled = true;
                            document.getElementById("vInitiateUserId").disabled = true;
                            document.getElementById("vCategoryId").disabled = true;
                            document.getElementById("vLastUpdatedBy").disabled = true;
                            document.getElementById("vLastUpdatedTime").disabled = true;

                        });
                    },
                    error: function (ex) {
                    }
                });
            });
        }

        function getDateTime(str, isDateOnly) {

            var strTimestamp = str.slice(6, 19);
            var intTimestamp = parseInt(strTimestamp);
            var date = new Date(intTimestamp);
            var strDate;
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            //"2021-04-04" format must be this to view in input type date
            if (isDateOnly) {
                strDate = date.getFullYear() + "-" + month + "-" + day
            } else {

                strDate = date.getFullYear() + "-" + month + "-" + day + " "
                    + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            }
            return strDate;
        }

        function getCurrentDateTime(isDateOnly) {

            var date = new Date();
            var strDate;
            if (isDateOnly) {

                strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate()
            } else {

                strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " "
                    + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            }
            return strDate;
        }

        function LoadChildVentures() {

        $(document).ready(function () {

            var selectedVenture = document.getElementById("selected_venture_ref").innerHTML;

            $('#tblChildVen').DataTable(
                {
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "dom": 'Bfrtip',
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                    "ajax": {
                        "url": "/Venture/GetChildVentures",
                        "type": "POST",
                        "data": JSON.stringify({ pVentureRef: selectedVenture }),
                        "datatype": "json"
                    },
                    "columnDefs": [
                        {
                            "defaultContent": "-",
                            "targets": "_all"
                        },
                        {
                            "targets": [2],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                                return strDate;
                            }
                        },
                        {
                            "targets": [3],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();
                                return strDate;
                            }
                        },
                        {
                            "targets": [9],
                            "render": function (data, type, row, meta) {

                                var strTimestamp = data.slice(6, 19);
                                var intTimestamp = parseInt(strTimestamp);
                                var date = new Date(intTimestamp);
                                var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate()+" "
                                    + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                                return strDate;
                            }
                        }
                    ],
                    "columns": [
                        { "data": "venture_ref" },
                        { "data": "description" },
                        { "data": "start_date"},
                        { "data": "end_date" },
                        { "data": "status_id" },
                        { "data": "p_venture_ref" },
                        { "data": "identifier" },
                        { "data": "initiate_user_id" },
                        { "data": "category_id" },
                        { "data": "last_updated_time" }
                    ]
                }
            )
        });
        }

        function LoadUpdateInfos() {

            $(document).ready(function () {
                
                var selectedVenture = document.getElementById("selected_venture_ref").innerHTML;

                $('#tblVenUpdateList').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "dom": 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                        "ajax": {
                            "url": "/Venture/getLogFiles",
                            "type": "POST",
                            "data": { ventureRef: selectedVenture },
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": [2],
                                "render": function (data, type, row, meta) {

                                    var strTimestamp = data.slice(6, 19);
                                    var intTimestamp = parseInt(strTimestamp);
                                    var date = new Date(intTimestamp);
                                    var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " "
                                        + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                                    return strDate;
                                }
                            }
                        ],
                        "columns": [
                            { "data": "log_id" },
                            { "data": "description" },
                            { "data": "added_time" },
                            { "data": "user_id" }
                        ]
                    }
                )

            });

        }

        function LoadFollowers() {
            $(document).ready(function () {

                var selectedVenture = document.getElementById("selected_venture_ref").value;

                $('#tblVenFollowerList').DataTable(
                    {
                        "responsive": true,
                        "lengthChange": false,
                        "autoWidth": false,
                        "dom" : 'Bfrtip',
                        "buttons": ["copy", "csv", "excel", "pdf", "print"],
                        "ajax": {
                            "url": "/Venture/GetFollowers",
                            "type": "GET",
                            "data": JSON.stringify({ venId: selectedVenture }),
                            "datatype": "json"
                        },
                        "columnDefs": [
                            {
                                "defaultContent": "-",
                                "targets": "_all"
                            },
                            {
                                "targets": [2],
                                "render": function (data, type, row, meta) {

                                    var strTimestamp = data.slice(6, 19);
                                    var intTimestamp = parseInt(strTimestamp);
                                    var date = new Date(intTimestamp);
                                    var strDate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate()+" "
                                        + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
                                    return strDate;
                                }
                            }
                        ],
                        "columns": [
                            { "data": "follower_user_id" },
                            { "data": "follower_user_id" },
                            { "data": "added_time" }
                        ]
                    }
                )
            });
        }


    </script>




}



